<app-sidebar></app-sidebar>
<kendo-drawer-container>
  <kendo-drawer-content>
    <div class="content">
      Dashboard
    </div>
  </kendo-drawer-content>
</kendo-drawer-container>


<!-- <kendo-grid [data]="gridData" [sortable]="true" [pageable]="true" [filterable]="true">
  <kendo-grid-column field="type" title="Type"></kendo-grid-column>
  <kendo-grid-column field="state" title="Stato"></kendo-grid-column>
  <kendo-grid-column field="description" title="Description"></kendo-grid-column>
  <kendo-grid-column field="date" title="Date" filter="date"></kendo-grid-column>
  <kendo-grid-column field="easaAD" title="EASA-AD"></kendo-grid-column>
  <kendo-grid-column field="faAD" title="FA-AD"></kendo-grid-column>
  <kendo-grid-column field="pa" title="PA"></kendo-grid-column>
  <kendo-grid-column field="sb" title="SB"></kendo-grid-column>
  <kendo-grid-column field="workReport" title="Rapporto di lavoro"></kendo-grid-column>
</kendo-grid> -->
